# Chapter 5 Solutions - Data structures

#### Exercise 1

*Create a dictionary representing a book, with keys for title, author, and year published. Then print each value using its key.*

In [ ]:
# Create a dictionary representing a book
book = {
    "title": "To Kill a Mockingbird",
    "author": "Harper Lee",
    "year_published": 1960
}

# Print each value using its key
print("Title:", book["title"])
print("Author:", book["author"])
print("Year Published:", book["year_published"])

#### Exercise 2

*Given the dictionary grades, add a key-value pair for a new student and update the grade of an existing student.*

In [ ]:
# Initial dictionary
grades = {"Alice": 85, "Bob": 90, "Charlie": 78}

# Add a new student
grades["David"] = 88

# Update the grade of an existing student (e.g., Bob)
grades["Bob"] = 95

# Display the updated dictionary
print(grades)

#### Exercise 3

*Create a dictionary representing a student database, where each key is a student’s name and the value is another dictionary containing their age, major, and a list of their courses. Implement functionality to add new students, update existing student information, and delete a student from the database. The initial database is given to to you, to which you should do each modification functionality (add, modify, remove) at least once.*

In [ ]:
# Initial student database
students = {
    "Alice": {
        "age": 20,
        "major": "Computer Science",
        "courses": ["CS101", "MATH120", "ENG200"]
    },
    "Bob": {
        "age": 22,
        "major": "Mathematics",
        "courses": ["MATH120", "MATH240", "PHYS150"]
    }
}

# Function to add a new student
def add_student(name, age, major, courses):
    students[name] = {
        "age": age,
        "major": major,
        "courses": courses
    }

# Function to update an existing student"s information
def update_student(name, age=None, major=None, courses=None):
    if name in students:
        if age is not None:
            students[name]["age"] = age
        if major is not None:
            students[name]["major"] = major
        if courses is not None:
            students[name]["courses"] = courses
    else:
        print(f"Student {name} not found in the database.")

# Function to delete a student from the database
def delete_student(name):
    if name in students:
        del students[name]
    else:
        print(f"Student {name} not found in the database.")

# Adding a new student
add_student("Charlie", 21, "Physics", ["PHYS101", "MATH120", "CS101"])

# Updating an existing student"s information
update_student("Alice", age=21, courses=["CS101", "MATH120", "ENG200", "HIST210"])

# Deleting a student from the database
delete_student("Bob")

# Display the updated student database
print(students)

#### Exercise 4

*Create a tuple with the values ‘apple’, ‘banana’, and ‘cherry’. Print the second value.*

In [ ]:
# Create a tuple
fruits = ("apple", "banana", "cherry")

# Print the second value
print(fruits[1])

#### Exercise 5

*Given the tuple numbers, count how many times the number 4 appears.*

In [ ]:
numbers = (4, 2, 4, 3, 4, 5, 4)
count_of_fours = numbers.count(4)
print(count_of_fours)

#### Exercise 6

*Create a function that takes a tuple of numbers as a parameter, and returns a new tuple with only the unique values, preserving the order of the numbers" first occurrence.*

In [ ]:
def remove_tuple_duplicates(numbers):
    unique_numbers = []
    
    for number in numbers:
        if number not in unique_numbers:
            unique_numbers.append(number)
    
    return tuple(unique_numbers)
    
my_tuple = (1, 5, 7, 5, 2, 1, 0, 1)
result = remove_tuple_duplicates(my_tuple)
print(result)

#### Exercise 7

*Create a set with the values 1, 2, 3, and 4. Then add the value 5 and remove the value 2.*

In [ ]:
my_set = {1, 2, 3, 4}
my_set.add(5)
my_set.remove(2)
print(my_set)

#### Exercise 8

*Given the sets a and b, find their union and intersection.*

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}

union_set = a.union(b)

intersection_set = a.intersection(b)

print("Union:", union_set)
print("Intersection:", intersection_set)

#### Exercise 9
*Create two sets, one containing the first 10 positive integers and the other containing the first 10 positive even numbers. Perform and print the results of union, intersection, and difference operations on these sets.*

In [ ]:
# Create the first set with the first 10 positive integers
set1 = set(range(1, 11))

# Create the second set with the first 10 even numbers
set2 = set(range(2, 21, 2))

union_result = set1.union(set2)

intersection_result = set1.intersection(set2)

# Perform the difference operation (elements in set1 not in set2)
difference_result = set1.difference(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Union:", union_result)
print("Intersection:", intersection_result)
print("Difference (set1 - set2):", difference_result)

#### Exercise 10

*Create a NamedTuple called Car with fields make, model, and year. Create one instance of it with values, and print each field.*

In [ ]:
from collections import namedtuple

Car = namedtuple("Car", ["make", "model", "year"])

my_car = Car(make="Toyota", model="Corolla", year=2020)

print("Make:", my_car.make)
print("Model:", my_car.model)
print("Year:", my_car.year)

#### Exercise 11

*Create a NamedTuple Employee with fields name, age, and position, create an instance and then replace the position field with a new value.*

In [ ]:
from collections import namedtuple

Employee = namedtuple("Employee", ["name", "age", "position"])

employee = Employee(name="John Doe", age=30, position="Developer")

# Replace the position field with a new value
employee = employee._replace(position="Manager")

print(employee)

#### Exercise 12

*Create a Counter from the list fruits and print the two most common elements.*

In [ ]:
from collections import Counter

fruits = ["apple", "banana", "apple", "orange", "banana", "apple"]
fruit_counter = Counter(fruits)
most_common_fruits = fruit_counter.most_common(2)

print(most_common_fruits)

#### Exercise 13

*Given the Counter counts, subtract another Counter with values {1: 1, 3: 1} and print the result.*

In [ ]:
from collections import Counter

counts = Counter([1, 1, 1, 3, 4, 9, 16, 3])
counts2 = Counter([1, 3])
counts.subtract(counts2)
print(counts)

#### Exercise 14

*Create a function that takes a string of text and returns a Counter of the frequency of each word in the text. The function should ignore case.*

In [ ]:
from collections import Counter

def word_frequency(text):
    # Convert the text to lowercase to ignore case
    text = text.lower()
    
    # Remove punctuation by replacing them with spaces
    for char in ".,!?;:":
        text = text.replace(char, " ")
    
    # Split the text into words
    words = text.split()
    
    # Create a Counter object to count the frequency of each word
    return Counter(words)

text = "Hello, test world! Everyone, hello. This is a test. This is only a TEST."
print(word_frequency(text))

#### Exercise 15

*Create a stack and push the values 1, 2, and 3 onto it. Then pop one value and print the stack.*

In [ ]:
stack = []

stack.append(1)
stack.append(2)
stack.append(3)

popped_value = stack.pop()

print("Stack after popping one value:", stack)
print("Popped value:", popped_value)

#### Exercise 16

*Implement a function `reverse_string` that takes a string as input and uses a stack to reverse the characters in the string, which the function returns. Hint: A string can be changed to a list with the function `list()`.*

In [ ]:
def reverse_string(s):
    # Create a stack by converting the string to a list of characters
    stack = list(s)
    
    # Create an empty string to store the reversed characters
    reversed_s = ""
    
    # Pop each character from the stack and add it to the reversed string
    while stack:
        reversed_s += stack.pop()
    
    return reversed_s
    
s = "hello"
print(reverse_string(s))

#### Exercise 17

*Create a queue by asking the user to input 5 queue values. Then dequeue 2 values and print the queue.*

In [ ]:
queue = []

for i in range(5):
    value = input(f"Enter value {i+1} for the queue: ")
    queue.append(value)

# Dequeue 2 values
dequeued_value1 = queue.pop(0)
dequeued_value2 = queue.pop(0)

print("Queue after dequeuing 2 values:", queue)