# Day 2: Programming with Python
### Examples from the slides

## Basic data types and type conversions

- A value can be converted ("cast") to another type using a type casting function, for example `int(<value>)`, which will return the value in a different type.

In [ ]:
# Cast int -> str
print(int("12"))

# Cast float -> int
print(int(3.14))

# Cast int -> str
print(str(10))

# Cast float -> str
print(str(3.14))

# Cast int -> float
print(float(1))

# Cast str -> float
print(float("12.4"))

# Cast str -> bool
bool("no")

# Cast int -> bool
print(bool(0))

# Error, a string with anything other than numbers and
# a decimal point cannot be converted to a floating-point number
print(float("one"))

## Arithmetic operators

- The data type of the result depends on the operator and the operands (input values)

In [ ]:
print(2 + 7)

print(2 + 7.0)

print(1.0 + 1.0)

print(2**3)

print(9 / 4)

print(7 // 2)

print(7 % 2)

## Comparison operators

- Comparison operators are useful for controlling the program flow
- Comparison operators return a boolean value (`True` or `False`)

In [ ]:
print(1 == 1)

print(1 != 2)

print(2 < 1)

print(2 > 1.0)

print(3 >= 3)

print(2.2 <= 1)

# Comparison operators can also be chained to check if a value is between numbers
print(2.2 < 10 < 20)

# Data types matter here as well!
print("2" > 1)

## Variables

- A variable can be used to save information during program execution
- A variable is created and updated using a single equal sign `=`

In [ ]:
variable = "Example text"
num_var  = 12.59
sq_area  = 10 * 10

In [ ]:
number_1 = 12
print(type(number_1))

text_var = "hello"
print(type(text_var))

list_var = [1, 2, 3]
print(type(list_var))

my_var = 12
print(type(my_var))

my_var = 1.2
print(type(my_var))

My_var = "x"
print(type(my_var))

In [ ]:
# Values saved in variables are preserved from one Jupyter code box to another
print(my_var)

## Input and output

- Text and data can be shown on screen using the function `print()`. The function can handle multiple input parameters separated by a comma `,`
- The user can be prompted for input using the function `input()`. The function always returns a string (`str`), hence the programmer has to cast the value to an appropriate data type.

In [ ]:
print("Hello world")

var_name = 10
print("The value saved in variable is", var_name)

print("The area is", 2 * 10)

- An output string can be built in many ways, for example by concatenating strings (`str`) with `+`-operator and so-called f-strings, in which the value or the variable is placed inside curly braces `{}` among the string

In [ ]:
volume = 100
print("The volume is " + str(volume) + " cubic meters")

area = 10
print(f"The areas is {area} square meters")

In [ ]:
var = input()

pwd = input("Password:")

length = input("Side length: ")
print(type(length))

length = int(input("Side length: "))
print(type(length))

In [ ]:
print("Comma", "inserts", "spaces")

In [ ]:
name = input("What's your name?\n")
print("My name is", name)

In [ ]:
area = 5**2
print("The area is" + area)

In [ ]:
print("The area is " + str(area) + "sqm")

In [ ]:
area = 5**2
print(f"The area is {area} sqm")

In [ ]:
units = "sqm"
print(f"The area", "is" + f" {5**2} {units}")

In [ ]:
usr = "jake"
ip = "192.168.100.1"
port = 200

print(f"Username: {usr}, IP:{ip}:{port}")

## Commenting

- A comment line begins with the 'hash' \#
- A multiline comment begins and ends with three quotation marks " or '

In [ ]:
# Calculate and print area
area = 10 * 10
print(area)

# Add height to calculate volume
#height = int(input("Height: "))
height = 10
volume = area * height
print("Volume is", volume)

In [ ]:
'''
Calculate box volume using formula
V = A * H
'''

area = 10
height = 5
volume = area * height
print("Volume is", volume)

"""
This is a multiline comment with quotes
"""

1 + 1

## Errors

Errors can be categorized as syntax errors, logical errors or runtime errors. Here are examples of each category:

In [ ]:
password = input("Password:)

In [ ]:
answer = input("yes or no:")

print("The answer was yes:", answer == "no")

In [ ]:
a = 6
b = input("Give a number to add: ")

print("Result:", a + b)