## Dictionary

In [ ]:
my_dict ={"hello": "moi", "opiskelijat": "students"}
print(my_dict)

In [ ]:
my_dict = {"name": "Charlie", "age": 2, "friends": ["Alice", "Bob"]}
print(my_dict["name"])

In [ ]:
my_dict = {"name": "Bob", "name": "Alice"}
print(my_dict)

In [ ]:
my_dict = {"name": "Bob", "name": "Alice"}
my_dict["name"] = "Charlie"
my_dict["age"] = 34
print(my_dict)

In [ ]:
dict_1 = {"1": "one", "2": "two"}
for dict_key in dict_1:
	print(dict_key)
	print(dict_1[dict_key])

In [ ]:
my_dict = {"name": "Alice", "age": "31"}
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

In [ ]:
my_dict = {"name": "Alice", "age": 31}
items = my_dict.items()
my_dict["city"] = "Helsinki"
print(items)

In [ ]:
my_dict = {"name": "Alice", "age": 31}
items = my_dict.items()
for item in items:
    print(item)

## Tuple

In [ ]:
my_tuple = (1, "Hi", True)
print(my_tuple)

In [ ]:
my_tuple = 1, "Hi", True
print(my_tuple)
a, b, c = my_tuple
print(a, b, c)

In [ ]:
def my_func():
    return 1, 2

tuple_1 = my_func()
item1, item2 = my_func()
print(tuple_1)
print(item1, item2)

In [ ]:
my_tuple = (1, "Hi", True)
print(my_tuple[1])
print(my_tuple[0:2])

In [ ]:
# Uncomment and run to see an error

# my_tuple[0] = 4
# my_tuple.append(10)
# del my_tuple[2]

In [ ]:
for item in my_tuple:
    print(item)

## Set

In [ ]:
my_set = {1, 2, 3}
my_set2 = set([1, 2, 3])
print(my_set)
print(my_set2)

In [ ]:
my_set = {1, 2}
for item in my_set:
    print(item)

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5} 

print(set1 | set2)
print(set1 & set2)
print(set1 - set2)
print(set1 ^ set2)

In [ ]:
set1 = {"Hi", True, 3}

print("Hi" in set1)
print(42 in set1)

## NamedTuple

In [ ]:
from collections import namedtuple
Student = namedtuple("Student", ["name", "major"])
student1 = Student("Charlie", "History")

In [ ]:
from collections import namedtuple
Student = namedtuple("Student", ["name", "major"])
student1 = Student("Charlie", "History")

print(student1.name)
print(student1.major)

In [ ]:
from collections import namedtuple

Student = namedtuple("Student", ["name", "major"])
student1 = Student("Charlie", "History")
print(student1[0])

In [ ]:
from collections import namedtuple

Student = namedtuple("Student", ["name", "major"])
student1 = Student("Charlie", "History")
for item in student1:
    print(item)

## Counter

In [ ]:
from collections import Counter
my_counter = Counter([1, 2, 1, 1, 5])
print(my_counter)

In [ ]:
from collections import Counter
my_counter = Counter("Hello")
print(my_counter)

In [ ]:
from collections import Counter

my_counter = Counter([1, 2, 1, 1, 5])
print(my_counter[1])

In [ ]:
from collections import Counter

my_counter = Counter(["Hello", "World"])
print(my_counter["Hello"])

In [ ]:
from collections import Counter

my_counter = Counter([2.5, 500])
print(my_counter[2.5])

In [ ]:
from collections import Counter

my_counter = Counter([1, 2, 1, 1, 5])
my_counter[1] += 3
print(my_counter[1])

In [ ]:
from collections import Counter

my_counter = Counter([1, 2, 1, 1, 5])
my_counter.update([1, 1, 1, 5])
print(my_counter[1])
print(my_counter[5])

In [ ]:
from collections import Counter

my_counter = Counter([1, 2, 1, 1, 5])
elements = list(my_counter.elements())
print(elements)

In [ ]:
from collections import Counter

my_counter = Counter([1, 2, 1, 1, 5])
for elem in my_counter.elements():
    print(elem)

In [ ]:
from collections import Counter

my_counter = Counter([1, 2, 1, 1, 5])
most_common = my_counter.most_common(1)
print(most_common)

## Queue

In [ ]:
my_list = []
my_list.append(12)
my_list.append("Hello")
print(my_list.pop(0))
print(my_list.pop(0))
print(my_list)

## Stack

In [ ]:
my_list = []
my_list.append(12)
my_list.append("Hello")
print(my_list.pop())
print(my_list.pop())
print(my_list)